<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${dash.log.dir}/dash.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>dash-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <maxFileSize>32MB</maxFileSize>
      <maxHistory>60</maxHistory>
      <totalSizeCap>256MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{5} - %msg %n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{5} - %msg %n</pattern>
    </encoder>
  </appender>


  <logger name="ch.qos.logback" level="WARN" additivity="false"/>
  <logger name="com.github.rbuck.dash" level="WARN" additivity="false"/>
  <logger name="com.zaxxer.hikari" level="WARN" additivity="false"/>
  <logger name="oracle.jdbc" level="ERROR" additivity="false"/>
  <logger name="oracle.net" level="ERROR" additivity="false"/>
  <logger name="org.springframework" level="WARN" additivity="false"/>

  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>