<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:property-placeholder location="classpath:com/github/rbuck/dash/services/spring/hikaricp.properties" ignore-unresolvable="true"/>

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="driverClassName" value="${dash.db.jdbc.driver}"/>
        <property name="jdbcUrl" value="${dash.db.jdbc.url}"/>
        <property name="username" value="${dash.db.user}"/>
        <property name="password" value="${dash.db.password}"/>
        <property name="autoCommit" value="${dash.db.transaction.autocommit:true}"/>
        <property name="readOnly" value="${dash.db.transaction.readonly:false}"/>
        <property name="connectionTestQuery" value="${dash.db.connection.test.string}"/>
        <property name="maximumPoolSize" value="${maxPoolSize:100}"/>
        <property name="idleTimeout" value="${maxLifetimeMs:120000}"/>
        <property name="isolateInternalQueries" value="true"/>
        <property name="transactionIsolation" value="${dash.db.transaction.isolation:TRANSACTION_READ_COMMITTED}"/>
    </bean>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
        <constructor-arg ref="hikariConfig"/>
    </bean>

</beans>
